<a
  {...Astro.props}
  href={Astro.props.href}
  aria-label="Botónes de acción rápida"
  class="text-sm text-nowrap sm:text-base bg-yellow-700 hover:bg-yellow-800 text-white px-6 py-3 font-light font-roboto transition-colors"
>
  <slot />
</a>
