---
import IconClose from "./icons/IconClose.astro";
import IconMenu from "./icons/IconMenu.astro";
import ItemsNav from "./ItemsNav.astro";

const items = [
  { href: "#Inicio", text: "Inicio" },
  { href: "#Nosotros", text: "Quienes Somos?" },
  { href: "#Servicios", text: "Servicios" },
  { href: "#Contacto", text: "Contacto" },
];
---

<!-- ARCHIVO ASTRO -->
<header id="nav" class="fixed w-full z-50 transition-colors">
  <div class="mx-auto px-5 xl:px-0 container sm:py-8 py-5">
    <div class="flex justify-between items-center">
      <h1
        class="text-3xl sm:text-4xl text-primary-text font-DM italic cursor-pointer"
      >
        Véritas Legal
      </h1>
      <button
        id="menu-toggle"
        class="md:hidden text-3xl text-primary-text focus:outline-none"
        aria-label="Abrir menú"
      >
        <span id="icon-open"><IconMenu class="w-7 h-7" /></span>
        <span id="icon-close" class="hidden"><IconClose class="w-7 h-7" /></span
        >
      </button>

      <nav class="md:flex gap-4 hidden">
        {items.map((item) => <ItemsNav href={item.href}>{item.text}</ItemsNav>)}
      </nav>
    </div>

    <nav
      id="mobile-menu"
      class="md:hidden flex hidden mt-4 flex-col gap-4 py-2"
    >
      {items.map((item) => <ItemsNav href={item.href}>{item.text}</ItemsNav>)}
    </nav>
  </div>
</header>

<script is:inline>
  const toggle = document.getElementById("menu-toggle");
  const menu = document.getElementById("mobile-menu");
  const iconOpen = document.getElementById("icon-open");
  const iconClose = document.getElementById("icon-close");

  toggle?.addEventListener("click", () => {
    const isVisible = !menu.classList.contains("hidden");

    menu.classList.toggle("hidden", isVisible);
    iconOpen.classList.toggle("hidden", !isVisible);
    iconClose.classList.toggle("hidden", isVisible);
  });

  window.addEventListener("scroll", () => {
    const nav = document.getElementById("nav");
    if (window.scrollY > 50) {
      nav?.classList.add("backdrop-blur-md", "dark:bg-black/80");
    } else {
      nav?.classList.remove("backdrop-blur-md", "dark:bg-black/80");
    }
  });
</script>
